
.navbar {
    margin: 0px;
}

.errors{
    color: red;
}


h1 {
    font-weight: bold;
    color: #0000FF;
}


.table1 th {
    padding: 10px;
    margin: 10px;
    border: 1px dotted gray;
    background: grey;
    text-align: center;
}

.table1 td{
    padding: 10px;
    margin: 10px;
    border: 1px dotted gray;
    background: white;
    text-align: center;
}

